* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vodo {
  width: 100%;
}
p {
  text-align: center;
  background-color: grey;
  color: rgb(203, 225, 77);
  border-radius: 10px;
}
h1 {
  text-align: center;
  background-color: aqua;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 7px 7px gray;
}
